.maindiv2
{
    display: grid;
    grid-template-areas:"t10 t10 t10 t10 t10 "
    "t20 t20 t20 t20 t20 " 
    "t30 t30 t30 t30 t30 "
    "t40 t40 t40 t40 t40 "
    "t50 t50 t50 t50 t50 ";
    padding : 0px;
    margin: 0px;
    grid-gap:10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
#t1{grid-area: t10;}
#t2{grid-area: t20;}
#t3{grid-area: t30;}
#t4{grid-area: t40;}
#t5{grid-area: t50;}
.maindiv2 > div
{
    padding : 20px;
    margin-right:0px;
    border-radius: 10px;
    border-color: black;
    width: 800px;
    text-align: justify;
    text-decoration: dotted;
}